<link rel="stylesheet" href="/css/chatbox.css">

<div id="chat-box">
    <div id="messages">
        <ul id="message-list">
        </ul>
    </div>
    <div>
        <form id="send-message-form" >
            <div class="chat-post-form">
                <input type="text" id = "chat-message-input" name="text" placeholder="Type Here" required> 
                <input type="submit" id="send-msg" value="Send">
            </div>
        </form>
    </div>
</div>