<link rel="stylesheet" href="/css/header.css">

<div class="top-bar">
    <div class="logo">
        <h1 class="logo text"><a href="/">Codeial</a></h1>
    </div>
    <div class="nav-bar">
        <% if(locals.user){ %>
            <ul class="nav-bar items">
                <li class="nav-bar-items link"><a href="/user/sign-out">Log Out</a></li>
                <li class="nav-bar-items link"><a href="/user/profile/<%=user.id%>"><%= user.name %></a></li>
            </ul>
        <%  } else { %>
            <ul class="nav-bar items">
                <li class="nav-bar-items link"><a href="/user/sign-in">Sign In</a></li>
                <li class="nav-bar-items link"><a href="/user/sign-up">Sign Up</a></li>
            </ul>
        <%  } %>
    </div>
</div>