<link rel="stylesheet" href="<%= assetPath('css/postform.css')%>">
<div class="post-create-box">
    <form id="new-post-form" method="post" action='/post/create'>
        <textarea class="post" name="content" id="post-textarea" placeholder="What is on Your Mind" required></textarea>
        <input class="post submit" type="submit" Submit" value="POST">
    </form>
</div>