<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<script src="https://use.fontawesome.com/b327d2b014.js"></script>

<% if(locals.user){ %>
    <%- include('_postform.ejs') -%>
<% } %>
<section id="posts">
    <% for (let post of posts) {%>
        <%- include('_post.ejs',{post:post}) -%>
    <% } %>
</section>

