*{
    box-sizing: border-box;
    overflow-wrap: break-word;

}

.top-bar{
    display:flex;
    align-items:center;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid gray;

    .logo{
        width:50%;
        flex: 1;
        a{
            text-decoration:none;
            color:white;
            text-shadow: 2px;
        }
    }
    .nav-bar{
        display:flex;
        align-items: center;
        flex-direction: row-reverse;
        .nav-bar-items{
            list-style: none;
            padding-right: 10px;
            font-size:20px;
            a{
                text-decoration:none;
                color:white;
                text-shadow: 2px;
            }
        }
    
    }
}
