#nav-container{

    height: 10vh;
    width:100vw;
    margin: 0px;
    background-color: darkslategrey;
    display: flex;
    a{
        text-decoration:none;
    }
    #logo-text{
        margin-top: 10px;
        font-size: 40px;
        font-style: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-left: 7%;
        color: white;
    }
    .nav-link {

        font-size: 20px;
        color: white;

    }
    #nav-menu{
        position: absolute;
        right: 0;
        display:flex;
        text-align: right;
        .nav-link-item{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 20px;
            margin-top: 10px;
        }
    }

}