*{
    box-sizing: border-box;
}

body{
    background: rgb(0,16,36);
    background: radial-gradient(circle, rgba(0,16,36,1) 0%, rgba(81,81,85,1) 100%);
    color: white;
}
.container{
    display: flex;
    .left{
        width:30%;
        height:100%;
        margin-top:30px;
        padding-right: 20px;
        h1{
            text-align:center;
        }
    }
    .middle{
        margin-top:30px;
        width: 45%;
    }
    .right{
        width:30%;
        height:100%;
        margin-top:30px;
        padding-left: 20px;
        h1{
            text-align:center;
        }
    }

}

