.home-container .heading-post {
  text-align: center; }

.user-friends {
  list-style: none; }
  .user-friends a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px; }
  .user-friends a:hover {
    text-decoration: underline; }
