* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

body {
  background: #001024;
  background: radial-gradient(circle, #001024 0%, #515155 100%);
  color: white; }

.container {
  display: flex; }
  .container .left {
    width: 30%;
    height: 100%;
    margin-top: 30px;
    padding-right: 20px; }
    .container .left h1 {
      text-align: center; }
  .container .middle {
    margin-top: 30px;
    width: 45%; }
  .container .right {
    width: 30%;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 20px; }
    .container .right h1 {
      text-align: center; }

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 45%; }
